.header {
    display: none;
}

.rating {
    color: var(--primary);
    font-weight: 600;
    font-size: 30px;
}

.menuClose {
    position: fixed;
    z-index: 11px;
    top: 15px;
    right: 15px;
}

.mobileMenu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    padding: 20px 10px;

    background: #F5F6F8;
}

@media (max-width: 765px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 40px;
        gap: 40px;
        margin: 15px 15px 0 15px;
    }
}